<%- include('partials/header.ejs') %>


<div class="alert alert-success w-auto" role="alert">
    <p class="text-center">Added <%= action %>: <%= message %>
    </p>
</div>

<a href="/calculate" class="text-decoration-none text">Go Back to add more food to evaluation</a>


<%- include('partials/footer.ejs') %>