<%- include("partials/header.ejs") %>


<div class="row">
    <div class="col-md-6 col-sm-12 mt-4">
        <div class="col-lg-8 col-md-10 col-sm-12 mx-auto ps-5">
            <h1 class="home-brand">Gym Buddy</h1>
            <h3 class="home-description">Is a beautiful app for people who take their health seriously.</h3>
            <h5 class="home-sub-description"> By evaluating your calorie intake and giving suggestions on what next accordingly.</h5>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 mt-4">
        <img class="home-img img-fluid ms-5" src="https://lh3.googleusercontent.com/iGkrL2LwkVPHvGa9A-vB7dvHDibII7S0VIZ0saomiorHaeIh7bzZybWeHxN9mXAcn6w=w2400">
    </div>
</div>


<%- include("partials/footer.ejs") %>